// Niri Configuration

prefer-no-csd  // Remove window decorations

input {
	keyboard {
		xkb {}
		numlock
	}

	touchpad {
		tap
		natural-scroll
		accel-speed 0.2
		disabled-on-external-mouse
	}

	mouse {
		accel-speed 0.15
		accel-profile "flat"
	}

	trackpoint {
	}

	// Focus follow mouse
    	focus-follows-mouse max-scroll-amount="0%"
	// warp-mouse-to-focus  // Automatically move the mouse to a new spawned window
}

// Monitors
output "DP-1" {
	mode "2560x1440@143.972"
	scale 1
	transform "normal"
	position x=1920 y=0
}
output "DP-2" {
	mode "1920x1080@60"
	scale 1
	transform "normal"
	position x=4480 y=0
}
output "HDMI-A-1" {
	mode "3840x2160@60"
	scale 2
	transform "normal"
	position x=0 y=0
}
output "HDMI-A-2" {
	off
}

// Layout settings
layout {
	gaps 16
	center-focused-column "never"

	// Preset widths
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}

	// Preset heights
	preset-window-heights {
		proportion 0.5
		proportion 1.0
	}

	// Default width
	default-column-width { proportion 0.5; }
	
	// Window border
	focus-ring {
		width 4
		active-color "rgba(189, 75, 255, 1.0)"
		inactive-color "rgba(80, 80, 80, 1.0)"
	}

	// Window drop shadows
	shadow {
		off
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
	}

	// Outer gaps
	struts {
		// left 64
		// right 64
		// top 64
		// bottom 64
	}
}

// Autostart
spawn-sh-at-startup "swaybg -o '*' -i ~/.wallpaper -m fit"

hotkey-overlay {
	skip-at-startup
}

screenshot-path "~/media/pictures/screenshots/%Y%m%d_%H%M%S.png"

animations {
	// Lower the number, the faster the animation
	slowdown 0.6
}

// Keybinds where Mod is the Super key
binds {
	// Keybind Legend
	Mod+Shift+Slash { show-hotkey-overlay; }  // or Mod+?

	// Important keybinds
	Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
	Super+Semicolon hotkey-overlay-title="Lock the Screen" { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle; swaylock"; }
	Super+Shift+Semicolon hotkey-overlay-title="Lock the Screen with Audio Playing" { spawn "swaylock"; }
	Mod+O repeat=false { toggle-overview; }
	Mod+D repeat=false { close-window; }
	Mod+Shift+Q { quit; }
	Ctrl+Alt+Delete { quit; }

	// Audio
	Mod+Equal hotkey-overlay-title="Increase Volume" { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
	Mod+Minus hotkey-overlay-title="Decrease Volume" { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
	Mod+Shift+M hotkey-overlay-title="Mute Volume" { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	Mod+M hotkey-overlay-title="Mute Mic" { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
	XF86AudioRaiseVolume	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
	XF86AudioLowerVolume	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
	XF86AudioMute		{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute	{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

	// MPRIS controls
	XF86AudioPlay	allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop	allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev	allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext	allow-when-locked=true { spawn-sh "playerctl next"; }

	// Brightness
	XF86MonBrightnessUp	allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
	XF86MonBrightnessDown	allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

	// Screenshot
	Mod+Print { screenshot; }
	Mod+Ctrl+Print { screenshot-screen; }
	Mod+Shift+Print { screenshot-window; }

	// Move focus across workspaces
	Mod+Left	{ focus-column-left; }
	Mod+Down	{ focus-window-or-workspace-down; }
	Mod+Up		{ focus-window-or-workspace-up; }
	Mod+Right	{ focus-column-right; }
	Mod+H		{ focus-column-left; }
	Mod+J		{ focus-window-or-workspace-down; }
	Mod+K		{ focus-window-or-workspace-up; }
	Mod+L		{ focus-column-right; }
	
	// Jump focus across a workspace
	Mod+Home { focus-column-first; }
	Mod+End  { focus-column-last; }

	// Move Columns across workspaces
	Mod+Shift+Left  { move-column-left; }
	Mod+Shift+Down  { move-column-to-workspace-down; }
	Mod+Shift+Up    { move-column-to-workspace-up; }
	Mod+Shift+Right { move-column-right; }
	Mod+Shift+H     { move-column-left; }
	Mod+Shift+J     { move-column-to-workspace-down; }
	Mod+Shift+K     { move-column-to-workspace-up; }
	Mod+Shift+L     { move-column-right; }
	
	// Move a window position within a column
	Mod+Alt+Down  { move-window-down-or-to-workspace-down; }
	Mod+Alt+Up    { move-window-up-or-to-workspace-up; }
	Mod+Alt+J     { move-window-down-or-to-workspace-down; }
	Mod+Alt+K     { move-window-up-or-to-workspace-up; }
	
	// Move windows into columns
	Mod+Alt+Left		{ consume-or-expel-window-left; }
	Mod+Alt+Right		{ consume-or-expel-window-right; }
	Mod+Alt+H		{ consume-or-expel-window-left; }
	Mod+Alt+L		{ consume-or-expel-window-right; }

	// Jump window across a workspace
	Mod+Shift+Home { move-column-to-first; }
	Mod+Shift+End  { move-column-to-last; }

	// Move focus across monitors
	Mod+Ctrl+Left  { focus-monitor-left; }
	Mod+Ctrl+Down  { focus-monitor-down; }
	Mod+Ctrl+Up    { focus-monitor-up; }
	Mod+Ctrl+Right { focus-monitor-right; }
	Mod+Ctrl+H     { focus-monitor-left; }
	Mod+Ctrl+J     { focus-monitor-down; }
	Mod+Ctrl+K     { focus-monitor-up; }
	Mod+Ctrl+L     { focus-monitor-right; }

	// Move a window across monitors
	Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
	Mod+Shift+Ctrl+Down  { move-window-to-monitor-down; }
	Mod+Shift+Ctrl+Up    { move-window-to-monitor-up; }
	Mod+Shift+Ctrl+Right { move-window-to-monitor-right; }
	Mod+Shift+Ctrl+H     { move-window-to-monitor-left; }
	Mod+Shift+Ctrl+J     { move-window-to-monitor-down; }
	Mod+Shift+Ctrl+K     { move-window-to-monitor-up; }
	Mod+Shift+Ctrl+L     { move-window-to-monitor-right; }

	// Move focus using scroll wheel across workspaces
	Mod+WheelScrollDown		{ focus-column-right; }
	Mod+WheelScrollUp		{ focus-column-left; }
	Mod+Shift+WheelScrollDown	cooldown-ms=150 { focus-workspace-down; }
	Mod+Shift+WheelScrollUp		cooldown-ms=150 { focus-workspace-up; }

	// Focus to specific workspace
	Mod+1	{ focus-workspace 1; }
	Mod+2	{ focus-workspace 2; }
	Mod+3	{ focus-workspace 3; }
	Mod+4	{ focus-workspace 4; }
	Mod+5	{ focus-workspace 5; }
	Mod+6	{ focus-workspace 6; }
	Mod+7	{ focus-workspace 7; }
	Mod+8	{ focus-workspace 8; }
	Mod+9	{ focus-workspace 9; }

	// Move window to specific workspace
	Mod+Ctrl+1	{ move-column-to-workspace 1; }
	Mod+Ctrl+2	{ move-column-to-workspace 2; }
	Mod+Ctrl+3	{ move-column-to-workspace 3; }
	Mod+Ctrl+4	{ move-column-to-workspace 4; }
	Mod+Ctrl+5	{ move-column-to-workspace 5; }
	Mod+Ctrl+6	{ move-column-to-workspace 6; }
	Mod+Ctrl+7	{ move-column-to-workspace 7; }
	Mod+Ctrl+8	{ move-column-to-workspace 8; }
	Mod+Ctrl+9	{ move-column-to-workspace 9; }

	// Fullscreen
	Mod+F		{ maximize-window-to-edges; }
	Mod+Shift+F	{ fullscreen-window; }

	// Column widths
	Mod+Ctrl+F	{ expand-column-to-available-width; }  // Expand width
	Mod+R		{ switch-preset-column-width; }  // Preset-column-widths.
	Mod+C		{ center-column; }  // Center column

	// Window height
	Mod+Shift+R	{ switch-preset-window-height; }

	// Toggle floating window
	Mod+V		{ toggle-window-floating; }

	// Toggle tabbed column display mode.
	Mod+W		{ toggle-column-tabbed-display; }

	// Toggle keyboard inhibitor (for remote-desktop apps, etc.)
	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

	// Power off monitors
	Mod+Shift+P { power-off-monitors; }
}
